$base:30;
$delay:600;
$scale: 1.3;

.star-icon {
  margin: 5px 20px;
  width: 75px;
  height: 75px;

  stroke-width: 2px;
  stroke: #FFF;
  fill: #E30613;
  fill-opacity: 0;


  &.n_1 {
    animation-name: starActive;
    animation-delay: 0ms;
    animation-duration: $delay+ms;
    //animation-duration: $base*20+ms;
  }

  &.n_2 {
    animation-name: starActive;
    animation-delay: $base*1+ms;
    animation-duration: $delay+ms;
    //animation-duration: $base*19+ms;
  }

  &.n_3 {
    animation-name: starActive;
    animation-delay: $base*2+ms;
    animation-duration: $delay+ms;
    //animation-duration: $base*18+ms;
    
  }

  &.n_4 {
    animation-name: starActive;
    animation-delay: $base*3+ms;
    animation-duration: $delay+ms;
    //animation-duration: $base*17+ms;
    
  }

  &.n_5 {
    animation-name: starActive;
    animation-delay: $base*4+ms;
    animation-duration: $delay+ms;
    //animation-duration: $base*16+ms;
  }

  

}

@keyframes starActive {
  0% {
    stroke: #FFF;
    fill-opacity: 0;
  }

  15% {
    stroke: #E30613;
    fill-opacity: 1;
    transform: scale($scale);
    ;
  }

  60% {
    stroke: #E30613;
    fill-opacity: 1;
    //transform: scale($scale*1.3);
  }

  100% {
    stroke: #FFF;
    fill-opacity: 0;
  }
}