header {
  flex: 0 0 auto;
  display: grid;
  grid-template-columns: 33% auto 33%;

}

#logosw {
  width: 200px;
  grid-column: 2/3;
  margin: 80px auto;
}

#gymit {
  grid-column: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}